
@{
    ViewBag.Title = "Informacja";
}

<div class="col" style="margin-left: 30%; text-align: center;">
    <h1>Po co jest ten system?</h1>
    <p>System został stworzony, aby ułatwić pracę fizjoterapeutom oraz pacjentom.</p>
    <p> Już tylko jednym kliknięciem możesz się umówić do wybranego specjalisty! </p>
    <p>Wystarczy, że założysz konto i zaczniesz korzystać ze wszystkiego co dla Ciebie przygotowaliśmy.</p>
    <p>Możesz umówić się na wizytę, sprawdzić swoje przyszłe wizyty, zobaczyć swoją dokumentację z poprzednich wizyt.</p>
    <p><b>Wszystko w jednym miejscu!</b></p>

 </div><br />
<div class="col" style="margin-left: 30%; text-align: center;">
    <h1>Jesteś fizjoterapeutą?</h1>
    <p>Zapraszamy Cię do skorzystania z naszego systemu rejestracji wizyt.</p>
    <p>Dzięki nam poznasz zupełnie z innej strony ten zawód.</p>
    <p>Skończą się męczące i zajmujące czas telefony.</p>
    <p>Koniec z układaniem grafiku dnia!</p>
    <p>Wystarczy że założysz konto i pozostanie Ci tylko usiąść wygodnie w fotelu i patrzeć jak pacjenci zapisują się tylko i wyłącznie do Ciebie!</p>

</div><br />
<div class="col" style="margin-left: 30%; text-align: center;">
    <h1>Jak poruszać się po systemie?</h1>\
    <h2>Pacjent:</h2>
    <p>W zakładce zarejestruj się, stworzysz swoje konto. Podaj wszystkie dane, aby dopasować do Ciebie idealnego fizjoterapeutę.</p>
    <p>Po zalogowaniu ujrzysz panel pacjenta.</p>
    <p>W zakładce wyszukaj znajdziesz wszystkich fizjoterapeutów, którzy obsługują Twoje miejsce zamieszkania.</p>
    <p>Wystarczy że klikniesz "umów" wybierzesz datę i godzinę oraz opiszesz swój problem i gotowe. ZOstałeś zapisany na wizytę!</p>
    <p>Nie martw się, nie musisz zapisywać terminów, wszystko znajduje się w zakładce wizyty. Tam zobaczysz przeszłe i przyszłe wizyty oraz opisy wizyt!</p>
    <br /><br />
    <h2>Fizjoterapeuta:</h2>
    <p>W zakładce zarejestruj się stworzysz swoje konto. Podaj wszystkie dane żeby pacjenci mogli Ci zaufać. Opisz swoje doświadczenie, czym się zajmujesz. Napisz nawet o swoich pasjach. Możesz wszystko!</p>
    <p>Po zalogowaniu ujrzysz panel fizjoterapeuty.</p>
    <p>Dodaj swoje godziny pracy oraz miejsca, w które możesz dojeżdżać!</p>
    <p>W zakładce wizyty masz możliwość podejrzenia kto zapisał się na wizytę, masz tam dane adresowe oraz opis przypadku.</p>
    <p>PAMIĘTAJ! Po każdej wizycie zmień opis żeby pacjent mógł przeczytać zalecenia i żeby również sam ćwiczył.</p>
</div><br />
<div class="col" style="margin-left: 30%; text-align: center;">
    <h1>Informacje ogólne</h1>
    <p>System jest stworzony w ramach pisania pracy dyplomowej.</p>
    <p>Twórca nie ponosi żadnej odpowiedzialności za wypływ danych lub ich utratę.</p>
    <p>Zakładając konto, zakłądasz je na własną odpowiedzialność.</p>
    <p>Zakłądając konto akceptujesz powyższe postanowienia. </p>
    
</div>
