
@{
    ViewBag.Title = "Zaloguj";
}

<div class="conta">
    <div class="container-login">
        <div class="login">
           tutaj formularz logowania
        </div>
        <div class="registration">
            tutaj przycisk na rejestrację
        </div>
    </div>
</div>

